@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

:root {
    --red:  rgb(231, 56, 56);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: rgba(0,0,0,0.85);
    min-height: 100vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4em 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    line-height: 2;
}

nav ul,
nav li {
    font-weight: 700;
    padding: 0 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    color: var(--red);
    text-decoration: none;
}

a:link {
    text-decoration: none;
    color: var(--red);
}

a:visited {
    color: rgb(150, 22, 22);
}

a:hover {
    color: unset;
}

span {
    color: var(--red);
    font-weight: 700;
}

footer {
    margin-bottom: 4em;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 0;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

p {
    font-weight: 400;
    margin-bottom: 1rem;
    line-height: 1.6;
}

.main-content {
    width: 70vw;
    min-height: 10rem;
    max-width: 750px;
    background: white;
    box-shadow: 0 0 30px -5px rgba(0,0,0,0.15);
    padding: 3em 4em;
    margin: 1em 0 3em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 2rem;
}

.previous {
    margin-left: 1rem;
}

.next {
    margin-right: 1rem;
}

.previous::after {
    content: ' \2039';
    position: absolute;
    left: 0;
    bottom: -6px;
    font-size: 2rem;
}

.next::after {
    content: ' \203A';
    position: absolute;
    right: 0;
    bottom: -6px;
    font-size: 2rem;
}

.fine-print {
    font-size: 0.9em;
    width: 75%;
    line-height: 1.5;
    padding-left: 1em;
    border-left: 4px solid var(--red);
}

.small-img {
    width: 3em;
    height: 3em;
    margin: 1rem 0;
}

.hidden {
    visibility: hidden;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    } 

    nav {
        margin: 2em 0;
    }

    nav li{
        padding: 0 0.25em;
    }

    .main-content {
        width: 85vw;
        padding: 2em 2em;
        margin: 1em 0 3em;
        border-radius: 0.75em;
    }

    .pagination {
        flex-direction: column;
    }

    .previous,
    .next {
        margin: 0;
        margin-bottom: 1.5em;
    }

    .previous::after,
    .next::after {
        display: none;
    }
}
